importing the dependencies(libraries)

In [ ]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.svm import SVC
import matplotlib.pyplot as plt
import seaborn as sns

Data collection or processing

In [ ]:
# loading the csv data to pandas frame
heart_data=pd.read_csv('/content/heart.csv')

In [ ]:
# print first 5 rows of the dataset
heart_data.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,52,1,0,125,212,0,1,168,0,1.0,2,2,3,0
1,53,1,0,140,203,1,0,155,1,3.1,0,0,3,0
2,70,1,0,145,174,0,1,125,1,2.6,0,0,3,0
3,61,1,0,148,203,0,1,161,0,0.0,2,1,3,0
4,62,0,0,138,294,1,1,106,0,1.9,1,3,2,0

In [ ]:
# print last 5 rows of the dataset
heart_data.tail()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
1020,59,1,1,140,221,0,1,164,1,0.0,2,0,2,1
1021,60,1,0,125,258,0,0,141,1,2.8,1,1,3,0
1022,47,1,0,110,275,0,0,118,1,1.0,1,1,2,0
1023,50,0,0,110,254,0,0,159,0,0.0,2,0,2,1
1024,54,1,0,120,188,0,1,113,0,1.4,1,1,3,0

In [ ]:
# no of rows and columns in the dataset
heart_data.shape

(1025, 14)

In [ ]:
# getting some ingo abot the data
heart_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1025 entries, 0 to 1024
Data columns (total 14 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   age       1025 non-null   int64
 1   sex       1025 non-null   int64
 2   cp        1025 non-null   int64
 3   trestbps  1025 non-null   int64
 4   chol      1025 non-null   int64
 5   fbs       1025 non-null   int64
 6   restecg   1025 non-null   int64
 7   thalach   1025 non-null   int64
 8   exang     1025 non-null   int64
 9   oldpeak   1025 non-null   float64
 10  slope     1025 non-null   int64
 11  ca        1025 non-null   int64
 12  thal      1025 non-null   int64
 13  target    1025 non-null   int64
dtypes: float64(1), int64(13)
memory usage: 112.2 KB

In [ ]:
# statistical measure about the data
heart_data.describe()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
count,1025.000000,1025.000000,1025.000000,1025.000000,1025.00000,1025.000000,1025.000000,1025.000000,1025.000000,1025.000000,1025.000000,1025.000000,1025.000000,1025.000000
mean,54.434146,0.695610,0.942439,131.611707,246.00000,0.149268,0.529756,149.114146,0.336585,1.071512,1.385366,0.754146,2.323902,0.513171
std,9.072290,0.460373,1.029641,17.516718,51.59251,0.356527,0.527878,23.005724,0.472772,1.175053,0.617755,1.030798,0.620660,0.500070
min,29.000000,0.000000,0.000000,94.000000,126.00000,0.000000,0.000000,71.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,48.000000,0.000000,0.000000,120.000000,211.00000,0.000000,0.000000,132.000000,0.000000,0.000000,1.000000,0.000000,2.000000,0.000000
50%,56.000000,1.000000,1.000000,130.000000,240.00000,0.000000,1.000000,152.000000,0.000000,0.800000,1.000000,0.000000,2.000000,1.000000
75%,61.000000,1.000000,2.000000,140.000000,275.00000,0.000000,1.000000,166.000000,1.000000,1.800000,2.000000,1.000000,3.000000,1.000000
max,77.000000,1.000000,3.000000,200.000000,564.00000,1.000000,2.000000,202.000000,1.000000,6.200000,2.000000,4.000000,3.000000,1.000000

In [ ]:
# checking the distribution of target variable
heart_data['target'].value_counts()

1    526
0    499
Name: target, dtype: int64

1--> defective heart       0--> non defective heart

splitting the features and target

In [ ]:
X = heart_data.drop(columns='target',axis=1)
Y= heart_data['target']

In [ ]:
print(X)

      age  sex  cp  trestbps  chol  fbs  restecg  thalach  exang  oldpeak  \
0      52    1   0       125   212    0        1      168      0      1.0
1      53    1   0       140   203    1        0      155      1      3.1
2      70    1   0       145   174    0        1      125      1      2.6
3      61    1   0       148   203    0        1      161      0      0.0
4      62    0   0       138   294    1        1      106      0      1.9
...   ...  ...  ..       ...   ...  ...      ...      ...    ...      ...
1020   59    1   1       140   221    0        1      164      1      0.0
1021   60    1   0       125   258    0        0      141      1      2.8
1022   47    1   0       110   275    0        0      118      1      1.0
1023   50    0   0       110   254    0        0      159      0      0.0
1024   54    1   0       120   188    0        1      113      0      1.4

      slope  ca  thal
0         2   2     3
1         0   0     3
2         0   0     3
3         2   1     3
4         1   3     2
...     ...  ..   ...
1020      2   0     2
1021      1   1     3
1022      1   1     2
1023      2   0     2
1024      1   1     3

[1025 rows x 13 columns]

In [ ]:
print(Y)

0       0
1       0
2       0
3       0
4       0
       ..
1020    1
1021    0
1022    0
1023    1
1024    0
Name: target, Length: 1025, dtype: int64

splitting the data into training data and testing data

In [ ]:
X_train,X_test,Y_train,Y_test=train_test_split(X,Y,test_size=0.25,stratify=Y,random_state=2)

In [ ]:
print(X.shape,X_train.shape,X_test.shape)

(1025, 13) (768, 13) (257, 13)

Model Training

Logistic Regression

In [ ]:
model_1= LogisticRegression()
# training the LogisticRegression model with Training data
model_1.fit(X_train,Y_train)
# accuracy on training data
X_train_prediction_1= model_1.predict(X_train)
training_data_accuracy_1 = accuracy_score(X_train_prediction_1,Y_train)
print('Accuracy on Training data:', training_data_accuracy_1)
X_test_prediction_1= model_1.predict(X_test)
test_data_accuracy = accuracy_score(X_test_prediction_1,Y_test)
print('Accuracy on Test data:', test_data_accuracy)

Accuracy on Training data: 0.8671875
Accuracy on Test data: 0.7976653696498055

/usr/local/lib/python3.10/dist-packages/sklearn/linear_model/_logistic.py:458: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

Building a predictive system

In [ ]:
input_data =(42,0,1,136,204,0,0,172,0,1.4,2,0,2)

# change the input data to a numpy array
input_data_as_numpy_array= np.asarray(input_data)

# reshape the numpy array as we r predicting for only on instance
input_data_reshaped= input_data_as_numpy_array.reshape(1,-1)

prediction = model_1.predict(input_data_reshaped)
print(prediction)

if(prediction[0]==0):
  print('The Person does not have a Heart Disease')
else:
  print('The Person has Heart Disease')

[1]
The Person has Heart Disease

/usr/local/lib/python3.10/dist-packages/sklearn/base.py:439: UserWarning: X does not have valid feature names, but LogisticRegression was fitted with feature names
  warnings.warn(

Decision Tree Classifier

In [ ]:
# Decision Tree Classifier
model_2= DecisionTreeClassifier()
model_2.fit(X_train,Y_train)
X_train_prediction_2= model_2.predict(X_train)
training_data_accuracy_2 = accuracy_score(X_train_prediction_2,Y_train)
print('Accuracy on Training data:', training_data_accuracy_2)
X_test_prediction_2= model_2.predict(X_test)
test_data_accuracy = accuracy_score(X_test_prediction_2,Y_test)
print('Accuracy on Test data:', test_data_accuracy)

Accuracy on Training data: 1.0
Accuracy on Test data: 0.9649805447470817

Random Forest Classifier

In [ ]:
# Random Forest Classifier
model_3= RandomForestClassifier()
model_3.fit(X_train,Y_train)
X_train_prediction_3= model_3.predict(X_train)
training_data_accuracy_3 = accuracy_score(X_train_prediction_3,Y_train)
print('Accuracy on Training data:', training_data_accuracy_3)
X_test_prediction_3= model_3.predict(X_test)
test_data_accuracy_3 = accuracy_score(X_test_prediction_3,Y_test)
print('Accuracy on Test data:', test_data_accuracy_3)

Accuracy on Training data: 1.0
Accuracy on Test data: 0.9649805447470817

Saving the trained model

In [ ]:
import pickle

In [ ]:
filename = 'Heart_model.sav'
pickle.dump(model_3,open(filename,'wb'))

In [ ]:
# loading the saved model
loaded_model = pickle.load(open('Heart_model.sav','rb'))

Support Vector Machine(SVM)

In [ ]:
# SVM Classifier
model_4= SVC()
model_4.fit(X_train,Y_train)
X_train_prediction_4= model_4.predict(X_train)
training_data_accuracy_4 = accuracy_score(X_train_prediction_4,Y_train)
print('Accuracy on Training data:', training_data_accuracy_4)
X_test_prediction_4= model_4.predict(X_test)
test_data_accuracy_4 = accuracy_score(X_test_prediction_4,Y_test)
print('Accuracy on Test data:', test_data_accuracy_4)

Accuracy for Different Model

In [ ]:
# Accuracy for Logistic Regression
print('Accuracy on Training data for Logistic Regression:', training_data_accuracy_1)
# Accuracy for Decision Tree Classifier
print('Accuracy on Training data for Decision Tree Classifer:', training_data_accuracy_2)
# Accuracy for Random Forest Classifier
print('Accuracy on Training data for Random Forest Classifier:', training_data_accuracy_3)
# Accuracy for Support Vector Machine
print('Accuracy on Training data for Support Vector Machine(SVM) :', training_data_accuracy_4)

In [ ]:
plt.figure(figsize = (11 , 6))
x = ['Logistic Regression','Decision Tree','Random Forest' ,'Support Vector']
y = [training_data_accuracy_1 ,training_data_accuracy_2,training_data_accuracy_3,training_data_accuracy_4]
plt.subplot(1,2,2)
plt.plot(x ,y,marker = 'o' ,color = 'r',mfc ='b' ,ms =8 )
plt.title(' Accuracy for Models')